@using BookingWepApp.Controllers;
@using static BookingWepApp.Controllers.HotelDetailsController;
@using BookingWepApp.Models.Infrastructure;
@using BookingWepApp.Models; @* maybe not needed *@
@model BookingWepApp.Models.Hotel
@{
    var imageUrl = Model.ImageUrl;
}

<div>
    <div class="card mb-4 border-0">
        <h2>
            @Model.Stars - star hotel @Model.Name
        </h2>
    </div>
</div>

<div class="card-deck">
            <div class="card mt-4">
                <p class="card-body text-justify">
                    @Model.Description
                </p>
            </div>
        </div>

<form asp-controller="HotelDetails" asp-action="SearchRooms" method="post" id="search-form" class="collapse">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <div class="form-group">
            <div class="input-group mb-1">
                <input type="date" id="checkInDate" name="checkInDate" placeholder="Check In" min="@DateTime.Today.ToString("yyyy-MM-dd")"/>
                <input type="date" id="checkOutDate" name="checkOutDate" placeholder="Chech Out" min="@DateTime.Today.ToString("yyyy-MM-dd")"/>
                <button type="submit" class="btn btn-success" id="submit-btn" style="background-color: rgb(35, 110, 170)">Find available rooms</button>
            </div>
            <p>
                @if (!string.IsNullOrEmpty(ViewBag.Error))
                {
                    @Html.Label("error", (string)ViewBag.Error, new { @class = "alert alert-danger" })
                }
            </p>
        </div>
    </div>
</form>

@if (ViewBag.DataInfo == null)
{
    <h2>Set check-in and check-out dates to find available rooms.</h2>
}
else if (ViewBag.RoomsAvailable == null)
{
    <h2>Unfortunately, there are no rooms available during the selected period.</h2>
}
else
{
<div class="d-flex container-hotel">
    <div class="carousel-container">
        <div class="border p-3 mt-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Room type</th>
                        <th>Cost per night</th>
                        <th>Available rooms</th>
                        <th></th>
                    </tr>
                    @foreach (var pair in ViewBag.RoomsAvailable as List<RoomItem>)
                    {
                        <tr>
                            <td>
                                @RoomTypeDecoder.GetRoomTypeName(pair.RoomType)
                            </td>
                            <td class="mobile-room">
                                @(pair.AvailableRooms)/@(pair.TotalRooms)
                            </td>
                            <td>
                                    @if (pair.AvailableRooms == 0)
                                    {
                                        <p class="text-danger">No rooms of this type are available</p>
                                    }
                                    else
                                    {
                                        <a asp-action="BookRoom" asp-controller="HotelDetails" style="background-color: rgb(35, 110, 170)" asp-route-roomType="@pair.RoomType" asp-route-id="@Model.Id" class="btn btn-success">Book</a>
                                    }
                            </td>
                        </tr>
                    }
                </thead>
            </table>
        </div>
    </div>
</div>
}