@model BookingWepApp.Models.HotelsViewModel

<partial name="_SearchPartial" />

@if (Model.Hotels.Count() == 0)
{
    <h2>Отели не найдены</h2>
}
else
{
    <div class="d-flex big-container">
        <div class="container  p-0 m-0">
            @foreach (var item in Model.Hotels)
            {
                <div class="card-deck">
                    <div class="card mt-4">
                        <div class="card-body pb-0 pt-0 d-flex">
                            <div class="text-center">
                                <img class="hotel-image" src=@Url.Content(@item.ImageUrl) />
                            </div>
                            <div class="ml-3 w-100">
                                <div>
                                    <h2 class="hotel-name text-break">   @item.Name  </h2>
                                </div>
                                <div>
                                    <p>
                                        @item.Stars - звёздочный
                                    </p>
                                </div>
                                <div>
                                    <p>
                                        Адрес: @item.ZipCode, @item.Country, @item.City, @item.Address
                                    </p>
                                    <p>
                                        Расстояние до центра: @item.DistanceFromCenter км.
                                    </p>
                                </div>
                                <div class="card-text text-justify">
                                    <p>@item.Description</p>
                                </div>
                                <div class="card-text">
                                    <p>Ссылка на сайт: <a href="@item.Website">@item.Website</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer pt-0 pl-0 border-top-0 bg-white">
                            <a asp-controller="HotelDetails" asp-action="HotelPage" asp-route-id="@item.Id" class="btn btn-success btn-lg btn-success float-right" style="background-color: rgb(35,110,170)">Забронировать номер в отеле</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
